<div class="card-draw flexrow">
  {{#each cards}}<img class="card-face" src="{{this.faces.[0].img}}" title="{{this.name}}" alt="{{this.name}}" />{{/each}}
  <h4 class="card-name">{{{message}}}</h4>
</div>