<form id="dialog-select" autocomplete="off">
  <div class="form-group">
    <label>{{label}}</label>
    <div class="form-fields">
      <select name="{{name}}">
        {{selectOptions options labelAttr="option" nameAttr="value"}}
      </select>
    </div>
  </div>
</form>