/* Lists */
li p,
li ol {
  margin: 0;
}

/* ChatMessage */
.chat-message .card-draw .card-name {
  line-height: normal !important;
  font-weight: normal !important;
}

.chat-message .card-draw .card-face:nth-child(2) {
  opacity: 33%;
}

.chat-message .message-header .message-metadata {
  white-space: nowrap;
}

/* Journal */
.fbl-solo-game.fbl-solo-game-cards {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1rem;
}

.fbl-solo-game.fbl-solo-game-cards.fbl-solo-game-cards-black {
  color: black;
}

.fbl-solo-game.fbl-solo-game-cards.fbl-solo-game-cards-red {
  color: red;
}

.fbl-skull {
  font-size: 1.5rem !important;
}

:where(.fbl-box) table.text-left :where(th, td) {
  text-align: left !important;
}

:where(.fbl-box) table.text-left :where(th, td):first-child {
  white-space: nowrap;
  padding-right: .5rem;
}